<?xml version="1.0"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    >
    <testsuites>
        <testsuite name="unit">
            <!-- 檔案為 Test.php 的檔案都會跑測試 -->
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="WP_PHPUNIT__TESTS_CONFIG" value="tests/wp-config.php" />
        <env name="WP_DB_NAME" value="test_empty" />
        <env name="WP_DB_USER" value="root" />
        <env name="WP_DB_PASS" value="root" />
        <env name="WP_DB_HOST" value="localhost:10004" />
    </php>
</phpunit>
